<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">

        <div class="title">
            <label>Title</label>
            <input type="text" class="form-control" name="postTitle">
        </div>
        <div class="txtarea">
            <label>Content</label>
            <textarea class="form-control" rows="5" cols="20" name="postContent"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>